.form-add-product .ant-form-item-label > label,
.form-add-product .ant-input,
.form-add-product
  .ant-input-stat.form-add-product
  us-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.form-add-product
  .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.form-add-product .anticon-upload svg {
  color: var(--color-black) !important;
}

/* list-brand */

.ant-btn ~ [type='button'] {
  background-color: #1677ff !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
